# Ежедневный cron: welcome-серия и weekly DM (из каталога backend на сервере)
# crontab -e:
# 15 10 * * * cd /opt/magic-master/backend && PYTHONPATH=. /opt/magic-master/venv/bin/python -m app.bot.run_engagement >> /var/log/mm_tg_engagement.log 2>&1
